<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="inline-block_3">
      回答
    </div>

    <div class="inline-block_3">
      答え
    </div>

    <div class="inline-block_4">
      問題
    </div>

 

  </body>
</html>
