<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="inline-block_1">
      問題
    </div>
    <div class="inline-block_2">
      解答
      <form>
        <% for(var i =1;i<=4;i++) { %>
          <label>設問<%= i %></label>
          <br>
          <% for(var j =1;j<=2;j++) { %>
            <input>
            <br>
          <% } %>
        <% } %>
      </form>
    </div>

  </body>
</html>
